.navbar {
  .navbar-brand {
    img {
      width: 60px;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        margin: 0 1rem;
        .nav-link {
          font-family: "semibold";
          font-size: 1.2rem;
          transition: .7s ease-in-out;
          &.active {
            font-family: "bold";
            color: #213f60;
          }
          &:hover {
            transform: scale(1.1);
            transition: .7s ease-in-out;
            text-shadow: 3px 3px 6px #213f60;
          }
        }
      }
    }
  }
}